@import 'cores';
@import 'fontes';

body {
    margin: 0;
}

#header {
    background-color: $cor-header;
    padding: 10px 20px;
    margin-bottom: 10px;

    * {
        display: inline;
        vertical-align: middle;
    }

    img {
        width: 70px;
        margin-right: 20px;
    }

    h1 {
        font-family: $fonte-decorativa;
        color: white;
        // Opcional
        text-shadow: 2px 2px #555555;
    }
}

#formularioContato {

    padding: 10px;
    border: 1px solid $cor-borda;
    // Ajuste a largura ao seu gosto!
    width: 95%;
    margin: auto;

    label,
    input {
        display: block;
        font-family: $fonte-padrao;
    }

    input {
        margin-bottom: 10px;
        height: 20px;
        font-size: 100%;
        /* Daqui pra baixo é opcional */
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        padding-left: 5px;

        &[type=text] {
            width: 300px;
        }

        &[type=tel] {
            width: 140px;
        }

        &[type=email] {
            width: 200px;
        }

        &[type=submit] {
            padding: 10px 20px;
            /* Anula a altura padrão */
            height: inherit;
            background-color: $cor-botao-primario;
            color: white;
            border: none;
        }
    }
}


#listagemContatos {
    margin: 15px auto;
    width:  95%;

    table{
        border-collapse: collapse;
        margin: auto;
        width: 40%;
        font-family: $fonte-padrao;

        thead{
            background-color: $cor-header;
            color: blanchedalmond;
        }
    }

}